:root {
    /* colors */
    --main-color: #0e609a;
    --secondary-color: #009ceb;
    --second-anchor-link-color: #89c43e;
    --third-anchor-link-color: #e02d75;
    --headline-section-color: #002738;
    --left-hand-grid-color: #004E78;
    --left-hand-grid-color-photo-filter: #00507a80;

    /* offsets */
    --horizontal-offset: 3.438rem;

    /* font-size */
    --sm-font-size: 0.875rem;
    --reg-font-size: 1rem;
    --regLg-font-size: 1.125rem;
    --lgSm-font-size: 1.625rem;
    --lg-font-size: 1.875rem;
    --anchor-font-size: 0.9rem;

    /* font-weights */
    --reg-font-weight: 400;
    --med-font-weight: 500;
    --bold-font-weight: 700;

    /* Heights / Widths */
    --section-headline-height: 16.5rem;
    --navBar-height: 4.625rem;
    --section-height: 36.875rem;
    --button-lg-width: 13.188rem;
    --button-sm-width: 9.188rem;
    --button-height: 1.875rem;
    --section-h1-max-width: 30.688rem;
    --footer-height: 20.9375rem;
    --paragraph-max-width: 30.5rem;
    --mobile-section-height: 3.5rem;
    --paragraph-party-max-width: 33.625rem;
    --logo-width: 12.375rem;

    --tablet-paragraph-max-width: 32.188rem;
    --headers-max-mobile-width: 20.875rem;

    /* Paddings / Margins / Gaps */
    --paragraph-top-margin: 0.688rem;
    --section-top-padding: 3.875rem;
    --section-bottom-padding: var(--section-top-padding);
    --anchor-button-top-margin: 1.813rem;
    --grid-gap: 3.4375rem;
    --h1--benefits-margin-bottom: 2rem;

    /* Line height/ letter spacing */
    --paragraph-line-height: 170%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Heebo', sans-serif;
    color: white;
}

tspan {
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: 700;
}

.a {
    text-decoration: none;
    font-size: var(--anchor-font-size);
    cursor: pointer;
    font-weight: var(--bold-font-weight);
}

.p {
    order: 3;
    margin-top: var(--paragraph-top-margin);
    line-height: var(--paragraph-line-height);
    font-size: var(--sm-font-size);
    font-weight: var(--reg-font-weight);
}

.h1 {
    order: 2;
    font-size: var(--lg-font-size);
    max-width: var(--section-h1-max-width);
}

.section__mobileConnect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--mobile-section-height);
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: 99;
    background-color: var(--secondary-color);
    display: none;
}

.a__navigation {
    font-weight: var(--med-font-weight);
}

.a__navigation:is(:hover, :focus) {
    text-decoration: underline;
}

.a__navigation::after {
    content: attr(data-end);
    cursor: pointer;
    position: absolute;
}

.a__navigation--blue {
    color: var(--secondary-color);
}

.a__navigation--green {
    color: var(--second-anchor-link-color);
}

.a__navigation--red {
    color: var(--third-anchor-link-color);
}

.nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.svg__hamburger,
.svg__search {
    cursor: pointer;
}

.svg__hamburger {
    margin-right: -1rem;
}

.svg__phone {
    display: none;
}

.header__main {
    position: sticky;
    background-color: white;
    top: 0;
    display: flex;
    min-height: var(--navBar-height);
    justify-content: space-between;
    padding-left: var(--horizontal-offset);
    padding-right: var(--horizontal-offset);
    z-index: 99;
}

.svg__search {
    margin-bottom: .25rem;
    margin-right: -.75rem;
}

.img__logo {
    max-width: var(--logo-width);
}

.button {
    font-family: 'Heebo', sans-serif;
    border: none;
    cursor: pointer;
}

.button__nav:is(:hover, :focus),
.a__button--whiteOutline:is(:hover, :focus),
.a__button--darkOutline:is(:hover, :focus) {
    text-decoration: underline;
}

.button__nav::after,
.button__navMobile::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 19px solid var(--secondary-color);
    display: inline-block;
    position: absolute;
    right: -1.175rem;
    bottom: 0rem;
}

.button__navMobile::after {
    border-left: 19px solid #fff;
}

.button__nav,
.button__navMobile {
    font-weight: 700;
    position: relative;
    text-align: center;
    color: white;
    background-color: var(--secondary-color);
    height: 2rem;
    padding: .25rem .5rem .25rem 1rem;
    font-size: 1.01rem;
    margin-bottom: .25rem;
    border-radius: 1rem 0 0 1rem / 1rem 0 0 1rem;
}

.button__navMobile {
    background-color: white;
    color: var(--secondary-color);
    margin-bottom: 0;
}

.section__headline {
    padding-left: var(--horizontal-offset);
}

.img__headline {
    max-width: 75vw;
}

.video__typing {
    height: var(--section-height);
    width: 100vw;
    object-fit: cover;
}

.sectionWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: var(--section-top-padding);
    left: var(--horizontal-offset);
}


.section__headline {
    display: flex;
    align-items: center;
    min-height: var(--section-headline-height);
    background-color: var(--headline-section-color);
}

.section__explore,
.section__grid {
    max-height: var(--section-height);
    overflow: hidden;
}

.section__explore {
    position: relative;
    color: white;
}

.a__button--darkOutline,
.a__button--whiteOutline {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    border: 1px solid white;
    border-radius: 2rem;
    height: var(--button-height);
    order: 3;
    margin-top: var(--anchor-button-top-margin);
    transition: 1s ease;
}

.a__button--large {
    width: var(--button-lg-width);
}

.a__button--small {
    width: var(--button-sm-width);
}

.h2 {
    order: 1;
    font-weight: var(--reg-font-weight);
    font-size: var(--regLg-font-size);
}

.section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sectionLeftFocus {
    display: flex;
    flex-direction: column;
    padding: var(--section-top-padding) var(--horizontal-offset) var(--section-top-padding) var(--horizontal-offset);
    background-color: var(--left-hand-grid-color);
}

.img__bgSectionRight {
    width: 100%;
    height: var(--section-height);
}

.p__sectionLeftFocus {
    max-width: 32.188rem;
    font-size: var(--sm-font-size);
}

.section__join {
    padding: var(--section-top-padding) 0 var(--section-bottom-padding) var(--horizontal-offset);
    background-image: image-set(url("./assets/Mask Group 139.png") 1x,
            url("./assets/Mask\ Group\ 139@2x.png") 2x);
    background-image:
        -webkit-image-set(url("./assets/Mask Group 139.png") 1x,
            url("./assets/Mask\ Group\ 139@2x.png") 2x);
    background-repeat: no-repeat;
    background-size: cover;

}

.section__business,
.section__party {
    padding: var(--section-top-padding) var(--horizontal-offset) 0 var(--horizontal-offset);
    min-height: var(--section-height);
    position: relative;
    background-color: var(--left-hand-grid-color-photo-filter);

}

.sectionBusinessWrapper,
.sectionPartyWrapper {
    display: flex;
    flex-direction: column;
}

.sectionPartyWrapper {
    align-items: flex-end;
}

.p__rightParty,
.p__leftBusiness {
    max-width: var(--paragraph-party-max-width);
}

.p__rightParty {
    text-align: end;
}

.h1__rightParty {
    max-width: initial;
}

.img__bg {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ul__benefits {
    order: 2;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--grid-gap);
}

.h1__benefits {
    order: 1;
    color: var(--left-hand-grid-color);
    margin-bottom: var(--h1--benefits-margin-bottom);
}

.a__button--darkOutline {
    color: var(--left-hand-grid-color);
    border: 1px solid var(--left-hand-grid-color);
}

.section__benefits {
    padding: var(--section-top-padding) var(--horizontal-offset) var(--section-bottom-padding) var(--horizontal-offset);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    padding: var(--section-top-padding) var(--horizontal-offset) 2.5rem var(--horizontal-offset);
    display: flex;
    flex-direction: column;
    background-image: image-set(url("./assets/MaskGroup143.png") 1x,
            url("./assets/MaskGroup143@2x.png") 2x);
    background-image: -webkit-image-set(url("./assets/MaskGroup143.png") 1x, url("./assets/MaskGroup143@2x.png") 2x);
    min-height: var(--footer-height);
}

.a__buttonFooter {
    margin-left: auto;
    margin-right: auto;
}

.h1__footer {
    max-width: 100%;
}

.section__footer {
    order: 3;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.p__footer {
    max-width: var(--paragraph-max-width);
}

@media (max-width:1350px) {
    :root {
        --grid-gap: 2rem;
    }
}

@media (max-width:1225px) {
    :root {
        --grid-gap: 1rem;
    }
}

@media (max-width:1140px) {
    :root {
        --grid-gap: 4rem;
    }

    .ul__benefits {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:1000px) {
    .p {
        max-width: var(--tablet-paragraph-max-width);
    }

    .button__nav {
        display: none;
    }

    .section__mobileConnect {
        display: flex;
        margin-right: .75rem;
    }

    .sectionPartyWrapper {
        align-items: flex-start;
    }

    .p__rightParty {
        text-align: start;
    }

    .footer {
        padding-bottom: 3.75rem;
    }

    .section_right {
        display: none;
    }

    .section__grid {
        max-height: initial;
        grid-template-columns: 1fr;
    }

    .a__navigation {
        display: none;
    }

    .svg__phone {
        display: block;
        margin-bottom: .25rem;
    }

    .a__buttonFooter {
        margin-left: initial;
    }
}

@media (max-width:850px) {
    :root {
        --section-headline-height: 10rem;
    }

    .img__headline {
        max-width: 50vw;
    }
}

@media (max-width:800px) {
    .section__footer {
        grid-template-columns: 1fr;
    }

    .p__footer {
        max-width: initial;
    }
}

@media (max-width:720px) {
    :root {
        --section-headline-height: 7.5rem;

        /* font-size */
        --sm-font-size: 0.75rem;
        --reg-font-size: 0.875rem;
        --regLg-font-size: 1.125rem;
        --lgSm-font-size: 1.625rem;
        --lg-font-size: 1.5rem;

        --navBar-height: 3.5rem;
        --logo-width: 8.125rem;
    }

    .ul__benefits {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .h1,
    .h2,
    .p {
        max-width: var(--headers-max-mobile-width);
    }
}

@media (max-width: 505px) {
    :root {
        --horizontal-offset: 1.25rem;
    }

    .img__headline {
        min-width: 248px;
    }

    .ul__benefits {
        gap: 1rem;
    }
}